* {
  margin: 0px;
  padding: 0px;
  font-family: 'Poppins', sans-serif;
  color: #252a2e;
  outline: none;
  list-style: none;
}

* a {
  text-decoration: none;
}

section {
  width: 100%;
}

section .container {
  max-width: 1300px;
  padding: 20px 1em;
  margin: auto;
}

@-webkit-keyframes blink {
  0% {
    width: 170px;
    height: 170px;
  }
  50% {
    width: 100px;
    height: 100px;
  }
  100% {
    width: 170px;
    height: 170px;
  }
}

@keyframes blink {
  0% {
    width: 170px;
    height: 170px;
  }
  50% {
    width: 100px;
    height: 100px;
  }
  100% {
    width: 170px;
    height: 170px;
  }
}

.top-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  border: none;
  background-color: transparent;
  display: none;
}

.top-btn i {
  padding: 15px;
  color: white;
  background-color: #3d88eb;
  border-radius: 5px;
  cursor: pointer;
}

.top {
  background-color: #3d88eb;
}

.top .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 1em;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.top .container p {
  color: white;
  font-size: 14px;
}

.top .container p i {
  margin-right: 10px;
  color: white;
}

.top .container p span {
  margin-right: 20px;
  color: white;
}

.sidebar {
  position: fixed;
  top: -100%;
  height: 100%;
  width: 100%;
  background-color: #252a2edf;
  z-index: 99;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sidebar .closeBtn {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 10px 12px;
  background-color: #3d88eb;
  border-radius: 50px;
  border: none;
}

.sidebar .closeBtn i {
  color: white;
}

.sidebar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.sidebar ul a {
  color: white;
  margin: 15px 0px;
}

.slider {
  /*background-image: url('../img/slide1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;*/
  width: 100%;
  overflow: hidden;
}

.slider .carasol {
  width: 500%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: slider 25s ease-in-out infinite;
          animation: slider 25s ease-in-out infinite;
}

.slider .carasol img {
  width: 100%;
}

.about {
  height: 400px;
  position: relative;
}

.about .overlay {
  background-color: #272e35c5;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

.about .container {
  padding: 20px 1em;
  max-width: 95%;
  position: relative;
  z-index: 1;
  height: 100%;
}

.about .container .nav {
  padding: 0px 1em;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about .container .nav .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about .container .nav .box img {
  width: 60px;
  margin-right: 20px;
}

.about .container .nav .box ul .strong {
  font-weight: 700;
  color: #ffff;
  border-bottom: 3px #3d88eb solid;
  font-size: 18px;
  text-transform: uppercase;
}

.about .container .nav .box ul li {
  font-size: 15px;
  color: #fff;
}

.about .container .nav ul a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  padding: 0px 15px;
}

.about .container .nav ul a:nth-child(6) {
  padding-right: 0px;
}

.about .container .nav .responsive {
  border: none;
  background-color: transparent;
  display: none;
}

.about .container .nav .responsive ul li {
  height: 3px;
  margin: 4px 0px;
  width: 40px;
  background-color: #252a2e;
}

.about .container .header {
  width: 100%;
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about .container .header h1 {
  color: white;
  background-color: rgba(255, 255, 255, 0.15);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 16px;
}

.contact .container {
  padding: 150px 1em;
}

.contact .container h1 {
  font-size: 2.5rem;
  text-align: center;
  color: #252a2e;
}

.contact .container h1 span {
  color: #3d88eb;
}

.contact .container .grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 50px 0px;
}

.contact .container .grid .box {
  background-color: #3d89eb10;
  padding: 50px;
  border-radius: 10px;
  border-bottom-right-radius: 80px;
  border-top-left-radius: 80px;
}

.contact .container .grid .box h2 {
  margin-bottom: 20px;
  color: #252a2e;
}

.contact .container .grid .box p {
  margin-bottom: 20px;
  color: #707070;
}

.contact .container .grid .box ul {
  margin-left: 20px;
}

.contact .container .grid .box ul li {
  margin: 10px 0px;
  color: #707070;
}

.contact .container .grid .box ul li i {
  color: #3d88eb;
  padding: 8px 7px;
  border-radius: 50px;
  background-color: #3d89eb21;
  margin-right: 20px;
}

.contact .container .grid .box ul li strong {
  font-size: 1.2rem;
}

#map {
  height: 500px;
  width: 100%;
}

.particles-js {
  width: 100%;
  background-image: url("../img/footer.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  position: relative;
  height: 600px;
}

.particles-js .overlay {
  background-color: #252a2ea4;
  position: absolute;
  width: 100%;
  top: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.particles-js .overlay .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  padding: 100px 1em;
}

.particles-js .overlay .container .box {
  width: 100%;
  padding: 20px;
}

.particles-js .overlay .container .box h2 {
  color: #3d88eb;
  margin-bottom: 20px;
}

.particles-js .overlay .container .box p {
  color: white;
  font-weight: 200;
  line-height: 30px;
  font-size: 15px;
  margin-bottom: 10px;
}

.particles-js .overlay .container .box img {
  width: 90%;
}

.particles-js .overlay .container .box ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.particles-js .overlay .container .box ul a {
  color: white;
  margin: 10px 0px;
}

.particles-js .overlay .container .box ul a i {
  color: white;
  padding: 5px 8px;
  border-radius: 50px;
  background-color: #ffffff25;
  font-size: 12px;
  margin-right: 5px;
}

.particles-js .overlay .container .box ul li {
  color: white;
  margin: 5px 0px;
}

.particles-js .overlay .container .box ul li i {
  color: #3d88eb;
  margin-right: 5px;
}

.particles-js .overlay .container .box ul li strong {
  color: white;
}

.footer {
  background-color: #252a2e;
}

.footer .container {
  text-align: center;
  padding: 30px 1em;
}

.footer .container p {
  color: white;
}

.footer .container p a {
  color: #3d88eb;
}

.footer .container p i {
  color: red;
}

@media screen and (max-width: 1000px) {
  .about .container .nav .links {
    display: none;
  }
  .about .container .nav .responsive {
    border: block;
  }
}

@media screen and (max-width: 870px) {
  .particles-js {
    height: 1100px;
  }
  .particles-js .overlay {
    padding: 0px 1em;
    height: 100%;
  }
  .particles-js .overlay .container {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 840px) {
  .top {
    display: none;
  }
}

@media screen and (max-width: 780px) {
  .contact .container h1 {
    font-size: 1.5rem;
  }
  .contact .container .grid {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (max-width: 690px) {
  .particles-js {
    height: 1500px;
  }
  .particles-js .overlay {
    padding: 0px 1em;
    height: 100%;
  }
  .particles-js .overlay .container {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}
/*# sourceMappingURL=contact.css.map */